@import "tailwindcss";

:root {
  --font-playfair: "Playfair Display", sans-serif;
  --font-work: "Work Sans", sans-serif;
}

.font-playfair {
  font-family: var(--font-playfair), sans-serif;
}

.font-work {
  font-family: var(--font-work), sans-serif;
}

body {
  background-color: #111117;
  color: #ffffff;
  background-position: right 0 top 313px;
  background-image: url('./bg.png');
  background-repeat: no-repeat;
  font-family: var(--font-work), sans-serif;
}

.gradient-border-bottom {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #FFD700 0%, #0057B8 86.06%);
  }
}

.gradient-border-top {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #FFD700 0%, #0057B8 86.06%);
  }
}

.wrapper-subscribe {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("./bg-subscribe.jpg");
}

.events-slider {
  transition: all 0.3s ease-out;
}

.slide-up {
  opacity: 0;
  transform: translateY(-100%);
}

.slide-down {
  opacity: 0;
  transform: translateY(100%);
}

.events-container {
  will-change: transform;
}

.events-container article {
  will-change: transform;
  transform-origin: center center;
}

@layer utilities {
  .custom-hover-border:hover,
  .custom-hover-border.active {
    border: 1px solid;
    border-image-source: linear-gradient(135deg, #FFD700 0%, #0057B8 86.06%);
    border-image-slice: 1;
  }
}

.pagination {
  display: inline-block;
  width: 100%;
}

.pagination ul li {
  display: inline-block;
  margin: 0 7px;
}

.pagination ul li {
  display: inline-block;
  vertical-align: middle;
}

.pagination ul li a {
  display: inline-block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #fff;
}

.pagination ul li a:hover,.pagination ul li.selected a {
  color: #FFD700;
  border: 1px solid;
  border-image-source: linear-gradient(135deg, #FFD700 0%, #0057B8 86.06%);
  border-image-slice: 1;
}

/*#root {*/
/*  max-width: 1170px;*/
/*  margin: 0 auto;*/
/*  padding: 0 1rem;*/
/*}*/
